@model TiendaOrdenadoresDB.ViewModels.OrdenadorComponenteViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ordenador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroDeSerie" class="control-label"></label>
                <input asp-for="NumeroDeSerie" class="form-control" />
                <span asp-validation-for="NumeroDeSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcesadorId" class="control-label"></label>
                <select asp-for="ProcesadorId" class ="form-control" asp-items="ViewBag.ProcesadorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MemoriaRamId" class="control-label"></label>
                <select asp-for="MemoriaRamId" class ="form-control" asp-items="ViewBag.MemoriaRamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiscoDuroId" class="control-label"></label>
                <select asp-for="DiscoDuroId" class ="form-control" asp-items="ViewBag.DiscoDuroId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}